
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div id="app" class="container">

        <div class="input-group row">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">1</span>
                <span class="input-group-text" id="basic-addon1">日</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
        </div>


        <div class="row">
            <div>
                <button type="button" class="btn btn-primary" v-on:click="random_members(members)">Primary</button>
                <p v-for="member in members">{{member.Name}}</p>
            </div>
            <div>
                <button type="button" class="btn btn-primary"
                    v-on:click="random_members(DayMembers[0])">Primary</button>
                <p v-for="member in DayMembers[0]">{{member}}</p>
            </div>
        </div>
    </div>

    <script src="./vue.js">
    </script>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                members: [
                    { Name: "張文京", Specialholidays: 1, gender: 'Male', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                    { Name: "陳仁德", Specialholidays: 1, gender: 'Male', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                    { Name: "游昇峰", Specialholidays: 1, gender: 'Male', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                    { Name: "張育誠", Specialholidays: 1, gender: 'Male', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                    { Name: "鄭敬融", Specialholidays: 1, gender: 'Male', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                    { Name: "李振華", Specialholidays: 1, gender: 'Male', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                    { Name: "賴星豪", Specialholidays: 1, gender: 'Male', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                    { Name: "蔡維哲", Specialholidays: 1, gender: 'Male', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                    { Name: "黃智楷", Specialholidays: 1, gender: 'Male', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                    { Name: "謝師宇", Specialholidays: 1, gender: 'Male', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                    { Name: "宋狄軒", Specialholidays: 1, gender: 'Male', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                    { Name: "蕭智隆", Specialholidays: 1, gender: 'Male', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                    { Name: "陳家翰", Specialholidays: 1, gender: 'Male', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                    { Name: "石文鐘", Specialholidays: 1, gender: 'Male', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                    { Name: "郭傳豪", Specialholidays: 1, gender: 'Male', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                    { Name: "王夢歆", Specialholidays: 1, gender: 'Female', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                    { Name: "林怡禎", Specialholidays: 1, gender: 'Female', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                    { Name: "吳家瑜", Specialholidays: 1, gender: 'Female', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                    { Name: "廖毓鈴", Specialholidays: 1, gender: 'Female', Onduty: { host: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } }, helper: { day: { north: null, south: null, industrial: null }, evening: { north: null, south: null, industrial: null }, midnight: { all: null } } } },
                ],

                DayMembers: [
                    ["張文京", "賴星豪", "謝師宇", "陳仁德", "吳家瑜", "林怡禎", "蕭智隆", "郭傳豪", "蔡維哲", "鄭敬融", "李振華", "廖毓鈴", "王夢歆"],
                    ["賴星豪", "蕭智隆", "宋狄軒", "游昇峰", "林怡禎", "廖毓鈴", "陳仁德", "蔡維哲", "王夢歆", "郭傳豪", "謝師宇", "鄭敬融", "李振華"],
                ],
                schedule: [
                    ["張文京", "賴星豪", "謝師宇", "陳仁德", "吳家瑜", "林怡禎", "蕭智隆", "郭傳豪", "蔡維哲", "鄭敬融", "李振華", "廖毓鈴", "王夢歆"],
                    ["賴星豪", "蕭智隆", "宋狄軒", "游昇峰", "林怡禎", "廖毓鈴", "陳仁德", "蔡維哲", "王夢歆", "郭傳豪", "謝師宇", "鄭敬融", "李振華"],
                ]
    


            },
            methods: {
                random_members(x) {
                    for (i = 0; i < 1000; i++) {
                        let r1 = Math.floor(Math.random() * (x.length));
                        let r2 = Math.floor(Math.random() * (x.length));
                        let r3 = Math.floor(Math.random() * (x.length));
                        let r4 = Math.floor(Math.random() * (x.length));
                        let r5 = Math.floor(Math.random() * (x.length));
                        let storage = x[r1]

                        Vue.set(x, r1, x[r2])
                        Vue.set(x, r2, x[r3])
                        Vue.set(x, r3, x[r4])
                        Vue.set(x, r4, x[r5])
                        Vue.set(x, r5, storage)
                    }
                }
            }
        })
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>