<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7717c79367.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>

    <div id='app'>
        <div class="input-group px-2 py-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">背景噪音</span>
            </div>
            <input type="text" class="form-control" placeholder="請輸入分貝值" aria-label="Username"
                aria-describedby="basic-addon1" v-model='dB1'>
        </div>
        <div class="input-group px-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">管制標準</span>
            </div>
            <input type="text" class="form-control" placeholder="請輸入分貝值" aria-label="Username"
                aria-describedby="basic-addon1" v-model="dB2">
        </div>
        <div class="mx-2 my-2">
            <button type="submit" class="btn btn-primary" v-on:click='Calculation'><i
                    class="fas fa-angle-double-right"></i></button>
        </div>
        <div class="list-group list-group-horizontal px-2" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-1-list" data-toggle="list" href="#list-1"
                role="tab" aria-controls="1">工廠(場)</a>
            <a class="list-group-item list-group-item-action " id="list-2-list" data-toggle="list" href="#list-2"
                role="tab" aria-controls="2">娛樂場所、營業場所</a>
            <a class="list-group-item list-group-item-action" id="list-3-list" data-toggle="list" href="#list-3"
                role="tab" aria-controls="3">營建工程</a>
            <a class="list-group-item list-group-item-action" id="list-4-list" data-toggle="list" href="#list-4"
                role="tab" aria-controls="4">擴音設施</a>
            <a class="list-group-item list-group-item-action" id="list-5-list" data-toggle="list" href="#list-5"
                role="tab" aria-controls="5">其他公告</a>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-1" role="tabpanel" aria-labelledby="list-1-list">

                <img src="./img/工廠.png" class="img-responsive">
            </div>
            <div class="tab-pane fade" id="list-2" role="tabpanel" aria-labelledby="list-2-list"><img
                    src="./img/擴音設施.png" class="img-responsive"></div>
            <div class="tab-pane fade" id="list-3" role="tabpanel" aria-labelledby="list-3-list"><img
                    src="./img/營建工地.png" class="img-responsive">
            </div>
            <div class="tab-pane fade" id="list-4" role="tabpanel" aria-labelledby="list-4-list"><img
                    src="./img/營業場所.png" class="img-responsive">
            </div>
            <div class="tab-pane fade" id="list-5" role="tabpanel" aria-labelledby="list-5-list">
                <img src="./img/其他公告.png" class="img-responsive">
            </div>
        </div>
    </div>

    <script src="./vue.js"></script>
    <script>
        new Vue({
            el: '#app',

            methods: {
                Calculation() {
    
                    var h = `${this.dB1}`;
                    var w = `${this.dB2}`;
                    var t = 10 * ((Math.log(Math.pow(10, (0.1 * h)) + Math.pow(10, (0.1 * w)))) / (Math.log(10)));
                    alert(t)
                }

            }
        })

    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>